@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  --primary-rgb: 34, 34, 34;
}

*:focus-visible:not(:focus) {
  outline: red solid 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 17, 17;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

input:focus {
  outline: 4px solid #2b64ce ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-rgb));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}